version: '3.8'

services:
  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474" # HTTP browser
      - "7687:7687" # Bolt port
    environment:
      - NEO4J_AUTH=neo4j/password
      # Enable APOC plugin for apoc.create.relationship in our Cypher query
      - NEO4J_PLUGINS=["apoc"]
    volumes:
      - neo4j_data:/data

  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
    depends_on:
      - neo4j

volumes:
  neo4j_data:
